@charset "UTF-8";
* {
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box; }

.system-message {
  width: 330px;
  display: inline-block;
  padding: 35px;
  margin: 20px;
  border-radius: 10px;
  text-align: center;
  font-weight: 900;
  color: #fff; }
  .system-message__title {
    margin: 20px 0;
    font-size: 24px; }
    .system-message__title:after {
      padding-left: 10px; }
  .system-message__description {
    font-size: 15px; }
  .system-message__button {
    height: 48px;
    border-radius: 30px;
    margin: 42px 0 10px;
    font-size: 22px;
    font-weight: 900;
    padding: 0 30px;
    background: #fff;
    border: none; }

.system-message_warning {
  background-color: #fd6266;
  background: linear-gradient(to bottom left, #fd6266, #fd916a); }
  .system-message_warning .system-message__title:after {
    content: "😬"; }
  .system-message_warning .system-message__button {
    box-shadow: 0px 2px 0px 0px #9f6b79; }
    .system-message_warning .system-message__button span {
      color: #f94f55; }

.system-message_error {
  background-color: #d00269;
  background: linear-gradient(to bottom left, #d00269, #f5515f); }
  .system-message_error .system-message__title:after {
    content: "😱"; }
  .system-message_error .system-message__button {
    box-shadow: 0px 2px 0px 0px #8f3b75; }
    .system-message_error .system-message__button span {
      color: #d00269; }

.system-message_ok {
  background-color: #30cc71;
  background: linear-gradient(to bottom left, #30cc71, #06eecb); }
  .system-message_ok .system-message__title:after {
    content: "☺"; }
  .system-message_ok .system-message__button {
    box-shadow: 0px 2px 0px 0px #3f9c93; }
    .system-message_ok .system-message__button span {
      color: #30cc71; }
