* {
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}

$color_warning: #fd6266, #fd916a, #f94f55, #9f6b79, "\1F62C";
$color_error: #d00269, #f5515f, #d00269, #8f3b75, "\1F631";
$color_ok: #30cc71, #06eecb, #30cc71, #3f9c93, "\263A";

$message-colors: (
    warning: $color_warning,
    error: $color_error,
    ok:$color_ok
);

@mixin message($first-bgcolor, $second-bgcolor, $btn-text-color, $btn-bgcolor, $icon) {
  background-color: $first-bgcolor;
  background: linear-gradient(to bottom left, $first-bgcolor, $second-bgcolor);
  .system-message__title {
    &:after {
      content: $icon;
    }
  }
  .system-message__button {
    box-shadow: 0px 2px 0px 0px $btn-bgcolor;
    span {
      color: $btn-text-color;
    }
  }
}

.system-message {
  width: 330px;
  display: inline-block;
  padding: 35px;
  margin: 20px;
  border-radius: 10px;
  text-align: center;
  font-weight: 900;
  color: #fff;
  &__title {
    margin: 20px 0;
    font-size: 24px;
    &:after {
      padding-left: 10px;
    }
  }
  &__description {
    font-size: 15px;
  }
  &__button {
    height: 48px;
    border-radius: 30px;
    margin: 42px 0 10px;
    font-size: 22px;
    font-weight: 900;
    padding: 0 30px;
    background: #fff;
    border: none;
  }
}

@each $status, $colors in $message-colors {
  .system-message_#{$status} {
    @include message(nth($colors, 1), nth($colors, 2), nth($colors, 3), nth($colors, 4), nth($colors, 5));
  }
}

